.container.dark {
  background-color: #112a46;
  color: #ffffff;
}

html.dark,
body.dark {
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);

  color: #ffffff;
}

.nav.dark,
.section--1.dark {
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sticky .nav.dark {
  background-color: rgb(27, 40, 69, 0.7);
}

.section--2.dark {
  background-color: rgb(36, 36, 45, 0.5);
  color: #ffffff;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.section--3.dark {
  background-color: rgb(27, 40, 69, 0.7);
  color: #ffffff;
}

.section--4.dark {
  background-color: rgb(25, 27, 54, 0.5);
  color: #ffffff;
}

.section--5.dark {
  background-color: rgb(27, 40, 69, 0.7);
  color: #ffffff;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.section--3.dark .myskill--1,
.section--3.dark .myskill--2 {
  border: 0.35rem solid #fbfdff;
  background-color: rgba(255, 255, 255, 0.1);
}

.section--4.dark .commn {
  border: 0.35rem solid #fbfdff;
  background-color: rgba(255, 255, 255, 0.1);
}

.section--5.dark .work--1 {
  border: 0.35rem solid #fbfdff;
  background-color: rgba(255, 255, 255, 0.1);
}

.h--same.dark {
  color: #ff005b;
}

.hh--same.dark {
  color: #ffffff;
}

.footer--1.dark {
  background-color: #112a46;
  color: #ffffff;
}

.light.dark::after {
  content: 'BlueTheme';
}

.label.dark {
  background-color: #ffffff;
}

.label.dark .ball {
  background-color: #112a46;
}

.samme.dark {
  color: #f8c53a;
  stroke: #f8c53a;
}
