/* === Resetting Everything and Setting Border Box === */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* === Declaring Global Font Size and Background Color === */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

html,
body {
  --bg-opacity: 1;
  background-color: #fad161;
  background-color: rgba(250, 209, 97, var(--bg-opacity));
  --text-opacity: 1;
  color: #27272b;
  color: rgba(39, 39, 43, var(--text-opacity));
  scroll-behavior: smooth;
}

/* === setting container width and properties === */
.root {
  width: 100%;
  padding: 3.6rem;
  transition: all 0.5s;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

/* === header witha close button === */
header {
  align-self: end;
  animation-name: fooo;
  transition: transform;
  transform: rotate(-90deg);
  transition-duration: 999ms;
  transition-delay: 0ms;
  font-size: 2.7rem;
}

header:hover {
  animation-name: foo;
  transition: transform;
  transform: rotate(90deg) scale(1.2);
  transition-duration: 999ms;
  transition-delay: 0ms;
}

.close:link,
.close:visited,
.close:active,
.close:focus,
.close:hover {
  color: #27272b;
  text-decoration: none;
  font-size: 2.7rem;
}

.container--1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 63%;
  align-self: center;
  align-items: center;
  text-align: center;
  gap: 3rem;
}

.maybe {
  text-align: left;
}

/* === greeting text === */
h2::before {
  content: 'Hi there, thanks for reaching out! \a How can I help you?';
  text-align: center;
  font-size: 3.6rem;
  white-space: pre-line;
  align-self: center;
  cursor: text;
}

/* === Form Element Styling  === */
.form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
}

.spread {
  grid-row: 2;
  grid-column: 1/3;
  margin-top: -3rem;
}

label {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

span {
  color: red;
}

input {
  color: #27272b;
  padding: 0.75rem;
  width: 100%;
  border: 0.3rem solid #27272b;
  outline: none;
  border-radius: 0.9rem;
  font-weight: 300;
}
.message {
  color: #27272b;
  padding: 0.75rem;
  width: 100%;
  height: 9rem;
  border: 0.3rem solid #27272b;
  outline: none;
  border-radius: 0.9rem;
  resize: none;
  font-weight: 300;
}

.button {
  grid-row: 3;
  align-items: center;
  transition: all 0.5s;
}

.submit {
  color: #fad161;
  background-color: #27272b;
  font-weight: 792;
  cursor: pointer;
  border: none;
  padding: 1.4rem 2.5rem;
  border-radius: 0.9rem;
  text-transform: uppercase;
  transition: all 0.5s;
  outline: none;
}

.submit:hover {
  transform: translate(-2px, -3px);
  box-shadow: 0.3rem 0.3rem #fad161, 0.6rem 0.6rem #a04163;
}

.disM {
  display: none;
}

/* -- Custom TextSelect -- */
::-moz-selection {
  background-color: #f8c53a;
  color: #27272b;
}

/* for Safari and Chrome */
::selection {
  background-color: #f8c53a;
  color: #27272b;
}

/* == Custom ScrollBar == */
*::-webkit-scrollbar {
  -webkit-appearance: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: #27272b #fad161;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px !important;
  height: 9px !important;
}

*::-webkit-scrollbar-track {
  border-radius: 18px;
  background: #fad161;
}

*::-webkit-scrollbar-thumb {
  background-color: #27272b;
  border-radius: 18px;
  border: 3px solid #fad161;
}

/* === Media Queries === */
/* -- Responsive Page @1038px --*/
@media (max-width: 1038px) {
  h2::before {
    font-size: 3.4rem;
  }
}

/* -- Responsive Page @792px --*/
@media (max-width: 792px) {
  h2::before {
    font-size: 2.7rem;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .spread {
    margin-top: 0rem;
  }

  .root {
    padding: 2.5rem;
  }
}

/* -- Responsive Page @414px --*/
@media (max-width: 414px) {
  h2::before {
    font-size: 2.2rem;
  }
}

/* === Animation KeyFrames === */
/* -- Animation for CLose Button Anti ClockWise Rotation --*/
@keyframes foo {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  }
}

/* -- Animation for CLose Button ClockWise Rotation --*/
@keyframes fooo {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

/* -- Animation for SayHello Page to Render from Bottom to Top --*/
@keyframes slideup {
  100% {
    margin-bottom: 0%;
  }
  50% {
    margin-bottom: 50%;
  }
  0% {
    margin-bottom: 100%;
  }
}
