/* === Resetting Everything and Setting Border Box === */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* === Declaring Global Font Size and Background Color === */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

html,
body {
  height: 100%;
  --bg-opacity: 1;
  background-color: #fad161;
  background-color: rgba(250, 209, 97, var(--bg-opacity));
  --text-opacity: 1;
  color: #27272b;
  color: rgba(39, 39, 43, var(--text-opacity));
  scroll-behavior: smooth;
}

/* === setting container width === */
.container {
  max-width: 100%;
  overflow: hidden;
}

/* === creation and styling header === */
.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 5rem 0rem;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  transition: all 0.5s;
}

/* === Mobile Hamburger Navigation === */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 3.6rem;
  width: 3.6rem;
  color: #27272b;
}

.close {
  animation-name: fooo;
  transition: transform;
  transform: rotate(-90deg);
  transition-duration: 999ms;
  transition-delay: 0ms;
}
.close:hover,
.close:focus {
  animation-name: foo;
  transition: transform;
  transform: rotate(90deg) scale(1.09);
  transition-duration: 999ms;
  transition-delay: 0ms;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/* === Persnal 3D Logo Design === */
.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 5rem;
  word-spacing: 0;
  color: #f8c53a;
  text-shadow: -2px 0 #27272b, 0 2px #27272b, 2px 0 #27272b, 0 -2px #27272b,
    -1px 0 #27272b, 0 1px #27272b, 1px 0 #27272b, 0 -1px #27272b,
    0 1px 0 #a04163, 0 2px 0 #a04163, 0 3px 0 #a04163, 0 4px 0 #a04163,
    0 5px 0 #a04163, 0 6px 0 #a04163, 0 7px 0 #a04163, 0 8px 0 #a04163,
    0 9px 0 #a04163, 0 10px 0 #a04163, 0 11px 0 #27272b, 0 12px 0 #27272b,
    0 20px 30px rgba(160, 65, 98, 0.3);

  transform: skewX(-5deg);
  transform-style: preserve-3d;
  cursor: pointer;
}

/* === 3 Navigation Elements === */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  justify-items: flex-end;
  gap: 3rem;
  transition: all 0.5s;
}

.anch {
  text-transform: uppercase;
  color: #27272b;
  padding: 2rem 2rem;
  background-color: transparent;
  background: none;
  border-radius: 0.9rem;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

.anch:hover:not(.sayhello, .contactme, .knowmore, .codes),
.anch:focus:not(.sayhello, .contactme, .knowmore, .codes) {
  /* background-color: #f8c53a;
  transform: translate(-2px, -3px);
  border-bottom: 0.3rem solid #a04163;
  box-shadow: 0.2rem 0.2rem #fbfffe, 0.5rem 0.5rem #a04163; */
  text-decoration: underline 0.7rem;
}

.anch:visited,
.anch:link,
.anch:active,
.anch:hover,
.anch:focus,
.social-anch:visited,
.social-anch:link,
.social-anch:active,
.social-anch:hover,
.social-anch:focus,
.aboutme--li {
  text-decoration: none;
  outline: none;
  transition: all 0.5s;
  scroll-behavior: smooth;
}

.btn--li {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: inherit;
  text-transform: uppercase;
  color: #fad161;
  padding: 1rem 1rem;
  background-color: #27272b;
  border-radius: 0.9rem;
  max-width: 16rem;
  margin-right: 0.7rem;
}

.aboutme--li {
  color: #27272b;
  margin-right: 0.6rem;
}

.aboutme--li:hover,
.aboutme--li:focus,
.aboutme--li:active {
  text-decoration: underline 0.5rem;
}

.aboutme {
  margin-right: -2rem;
}

.sayhello {
  background-color: #27272b;
  color: #fad161;
  font-weight: 900;
  box-shadow: 0 1rem 2rem rgba(39, 39, 43, 0.2);
}

.sayhello:hover:not(.contactme, .knowmore),
.sayhello:active:not(.contactme, .knowmore),
.sayhello:focus:not(.contactme, .knowmore) {
  color: #f8c53a;
  transform: translate(-2px, -3px);
  box-shadow: 0.2rem 0.2rem #fad161, 0.5rem 0.5rem #a04163;
}

/* === My Introduction Section--1 === */
.section--1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 12rem 5rem 5rem;
  gap: 2rem;
  font-family: 'Poppins', sans-serif;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

.greet {
  font-family: 'DM Serif Display', serif;
  background-color: #f8c53a;
  color: #27272b;
  font-size: 1.6rem;
  display: inline-block;
  max-width: 7.5rem;
}

.myname {
  font-size: 7rem;
  font-weight: bold;
  line-height: 1.2;
}

.designation {
  font-size: 1.8rem;
  letter-spacing: 0;
  word-spacing: 0;
}

.bld {
  font-weight: bold;
}

.btn-oth {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 3rem;
  transition: all 0.5s;
}

.btn-oth .contactme:hover,
.btn-oth .contactme:focus {
  color: #f8c53a;
  transform: translate(-2px, -3px);
  box-shadow: 0.2rem 0.2rem #fad161, 0.5rem 0.5rem #a04163;
}

.contactme {
  background-color: #27272b;
  color: #fad161;
}

.knowmore {
  color: #a04163;
}

.knowmore:hover,
.knowmore:focus,
.live:hover,
.live:focus {
  text-decoration: underline 0.5rem;
}

.bi {
  font-weight: 700;
  font-size: 1.6rem;
}

.fits {
  cursor: text;
}

.myself {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.my--image {
  border-radius: 50%;
  background-color: rgba(160, 65, 99, 0.5);
  min-width: 34rem;
  min-height: 34rem;
}

/* === Section--2, About Me and Short Description === */
.section--2 {
  background-color: #fbfffe;
  padding: 7rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

.tell--about {
  max-width: 23rem;
  font-family: 'DM Serif Display', serif;
  background-color: #f8c53a;
  color: #27272b;
  font-size: 1.6rem;
  display: inline-block;
}

.about--me {
  display: inline-block;
  font-size: 3.4rem;
  font-weight: 700;
  max-width: 27rem;
}

.aboutme--des {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 360;
}

.nme {
  font-size: 1.8rem;
  font-family: 'Poppins', sans-serif;
}

/* === Section--3 with Section--4, Section--5 ===*/
.section--3,
.section--4,
.section--5 {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  justify-items: flex-start;
  align-items: flex-start;
  padding: 4.5rem 5rem;
  gap: 1.6rem;
}

.whatknow,
.processlike,
.showwork {
  background-color: #f8c53a;
  color: #27272b;
  font-family: 'DM Serif Display', serif;
  display: inline-block;
  font-size: 1.6rem;
}

.myskills,
.dprocess,
.check--work {
  font-size: 3.4rem;
  font-weight: 700;
  display: inline-block;
}

.myskillls,
.my--work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.5rem;
  align-items: start;
  margin-top: 1rem;
}

.myskill--1,
.myskill--2,
.work--1 {
  border: 0.35rem solid #27272b;
  border-radius: 0.9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  gap: 2rem;
  padding: 3.6rem;
}

.myskill--1:hover,
.myskill--2:hover,
.work--1:hover {
  transform: translate(-3px, -6px);
  box-shadow: 0.6rem 0.6rem #f8c53a;
}

.headingss,
.headi {
  font-size: 1.9rem;
}

.headings {
  font-size: 1.8rem;
  font-weight: 600;
  color: #a04163;
}

.skill--des,
.skillcontent,
.skill--frameworks,
.tools,
.process--des,
.headi--des {
  font-size: 1.8rem;
  font-weight: 300;
}

ul {
  list-style: none;
}

/* === Section 4 ===*/
.section--4 {
  background-color: #a04163;
  color: #fbfffe;
}

.process--des {
  width: 43.2%;
  font-weight: 400;
}

.processes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3.6rem;
  text-align: center;
  justify-content: start;
  margin-top: 1.6rem;
}

.commn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 0.3rem solid #fbfffe;
  border-radius: 0.9rem;
  padding: 3.6rem;
  transition: all 0.5s;
}

.commn:hover {
  transform: translate(-2px, -3px);
  box-shadow: 0.5rem 0.5rem #f8c53a;
}

/* === Section 5 ===*/
.section--5 {
  background-color: #fbfffe;
}

.my--work {
  justify-items: center;
  font-weight: 400;
}

.live {
  font-family: inherit;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: 600;
  color: #a04163;
  font-size: 1.2rem;
  border-radius: 0.9rem;
  text-decoration: none;
  transition: all 0.5s;
}

.codes {
  font-family: inherit;
  text-transform: uppercase;
  padding: 1.2rem;
  font-weight: 700;
  color: #f8c53a;
  font-size: 0.9rem;
  border-radius: 0.9rem;
  background-color: #27272b;
  text-decoration: none;
  transition: all 0.5s;
}

.group--btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-self: center;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}

.load {
  display: none;
}

/* === Footer Section === */
.footer--1 {
  display: flex;
  flex-direction: column;
  color: #fbfffe;
  background-color: #27272b;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  justify-items: center;
  align-items: center;
  padding: 5rem 5rem 2rem;
}

.like--guy {
  background-color: #fad161;
  color: #27272b;
  font-family: 'DM Serif Display', serif;
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 1.2rem;
}

.work--guy {
  font-size: 3.2rem;
  font-weight: bold;
  display: inline-block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 1.2rem;
}

.buss-des {
  text-align: center;
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.2;
  padding: 0;
  max-width: 72%;
  margin-bottom: 3rem;
}

.offers--job {
  background-color: #fad161;
  font-weight: 500;
  color: #27272b;
}

.social--links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.collab {
  color: #27272b;
  background-color: #fad161;
  font-weight: 792;
  padding: 1.8rem 2rem;
  border: none;
  border-radius: 0.9rem;
  text-transform: uppercase;
  transition: all 0.5s;
  margin: 2rem 0rem;
  cursor: pointer;
}

.collab:hover {
  transform: translate(-2px, -3px);
  box-shadow: 0.3rem 0.3rem #27272b, 0.6rem 0.6rem #a04163;
}

.social-anch {
  color: #fbfffe;
  padding: 0.7rem;
  font-weight: 900;
  text-align: center;
  border: none;
  border-radius: 0.9rem;
  transition: all 0.5s;
}

.social-anch:hover {
  transform: translate(-2px, -3px);
  box-shadow: 0.2rem 0.2rem #fad161, 0.5rem 0.5rem #a04163;
}

/* -- Footer Copyright Section -- */
.copyright {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  color: #27272b;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}

/* -- Sticy Header --*/
.sticky .nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6.3rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgb(251, 255, 254, 0.9);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .logo {
  font-size: 2.9rem;
}
.sticky .anch {
  font-size: 0.8rem;
}

/* === Dark Mode & Light Mode === */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #27272b;
  border-radius: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  position: relative;
  height: 2rem;
  width: 3.6rem;
  transform: scale(1.26);
  margin-top: 1.4rem;
}

.modes--chng {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label .ball {
  background-color: #fad161;
  border-radius: 50%;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  height: 1.5rem;
  width: 1.5rem;
  transform: translateX(0px);
  transition: transform 0.5s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(1.6rem);
}

.fa-moon {
  color: #fbfffe;
  stroke: #fbfffe;
}

.bi-brightness-low {
  color: #f8f8f8;
}

/* === Scroll To Top === */
.scroll--top {
  display: none;
  position: fixed;
  bottom: 1.8rem;
  right: 0.5rem;
  z-index: 99;
  color: #f8c53a;
  border: none;
  background-color: #27272b;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.37rem;
  width: 3.2rem;
  height: 3.2rem;
  transition: all 0.5s;
}

.uparrow:hover {
  color: #ffc423;
}

/* === Media Queries === */
/* -- Responsive Page @1249px --*/
@media (max-width: 1249px) {
  .myname {
    font-size: 6.9rem;
  }

  .designation {
    font-size: 1.78rem;
  }

  .anch {
    padding: 1.9rem 1.9rem;
    font-size: 1.3rem;
  }

  .my--image {
    min-width: 27rem;
    min-height: 27rem;
  }

  .skill--des,
  .skillcontent,
  .skill--frameworks,
  .tools,
  .process--des,
  .headi--des {
    font-size: 1.7rem;
  }

  .commn {
    padding: 1.9rem;
  }

  .about--me,
  .myskills,
  .dprocess,
  .check--work,
  .work--guy {
    font-size: 3.1rem;
  }
}

/* -- Responsive Page @1161px --*/
@media (max-width: 1161px) {
  .myname {
    font-size: 6.7rem;
  }

  .designation {
    font-size: 1.74rem;
  }

  .anch {
    padding: 1.8rem 1.8rem;
    font-size: 1.2rem;
  }

  .my--image {
    min-width: 25rem;
    min-height: 25rem;
  }

  .skill--des,
  .skillcontent,
  .skill--frameworks,
  .tools,
  .process--des,
  .headi--des {
    font-size: 1.6rem;
  }

  .commn {
    padding: 1.8rem;
  }

  .about--me,
  .myskills,
  .dprocess,
  .check--work,
  .work--guy {
    font-size: 2.8rem;
  }
}

/* -- Responsive Page @966px --*/
@media (max-width: 966px) {
  .myname {
    font-size: 6.5rem;
  }

  .designation {
    font-size: 1.69rem;
  }

  .anch {
    padding: 1.8rem 1.8rem;
    font-size: 1.2rem;
  }

  .my--image {
    min-width: 23rem;
    min-height: 23rem;
  }

  .skill--des,
  .skillcontent,
  .skill--frameworks,
  .tools,
  .process--des,
  .headi--des {
    font-size: 1.5rem;
  }

  .commn {
    padding: 1.7rem;
  }

  .about--me,
  .myskills,
  .dprocess,
  .check--work,
  .work--guy {
    font-size: 2.5rem;
  }
}

/* -- Responsive Page @958px --*/
@media (max-width: 958px) {
  .myname {
    font-size: 6.3rem;
  }

  .designation {
    font-size: 1.65rem;
  }

  .anch {
    padding: 1.7rem 1.7rem;
    font-size: 1.1rem;
  }

  .my--image {
    min-width: 21rem;
    min-height: 21rem;
  }

  .skill--des,
  .skillcontent,
  .skill--frameworks,
  .tools,
  .process--des,
  .headi--des {
    font-size: 1.5rem;
  }

  .commn {
    padding: 1.7rem;
  }

  .about--me,
  .myskills,
  .dprocess,
  .check--work,
  .work--guy {
    font-size: 2.5rem;
  }

  .headingss,
  .headi {
    font-size: 1.8;
  }
}

/* -- Responsive Page @935px --*/
@media (max-width: 935px) {
  .myname {
    font-size: 5.9rem;
  }

  .designation {
    font-size: 1.6rem;
  }

  .anch {
    padding: 1.7rem 1.7rem;
    font-size: 1.1rem;
  }

  .my--image {
    min-width: 18rem;
    min-height: 18rem;
  }

  .skill--des,
  .skillcontent,
  .skill--frameworks,
  .tools,
  .process--des,
  .headi--des {
    font-size: 1.5rem;
  }

  .commn {
    padding: 1.7rem;
  }

  .about--me,
  .myskills,
  .dprocess,
  .check--work,
  .work--guy {
    font-size: 2.5rem;
  }

  .process--des {
    width: 70%;
  }

  .navigation {
    gap: 2rem;
  }
  .label {
    transform: scale(1.1);
  }
}

/* -- Responsive Page @842px --*/
@media (max-width: 842px) {
  .navigation {
    gap: 1.8rem;
  }
  .anch {
    padding: 1.53rem 1.53rem;
    font-size: 1rem;
  }
}

/* -- Responsive Page @801px --*/
@media (max-width: 792px) {
  .nav {
    padding: 2rem 3rem;
  }

  .section--1 {
    padding: 10rem 3rem 7rem;
  }

  .section--2 {
    padding: 7rem 3rem;
  }

  .section--3,
  .section--4,
  .section--5 {
    padding: 4.5rem 3rem;
  }

  .footer--1 {
    padding: 5rem 3rem 2rem;
  }

  .copyright {
    padding: 1rem 3rem;
    font-size: 1.3rem;
  }

  .myname {
    font-size: 5.5rem;
  }

  .designation {
    font-size: 1.55rem;
  }

  .anch {
    padding: 1.7rem 1.7rem;
    font-size: 1rem;
  }

  .my--image {
    min-width: 16rem;
    min-height: 16rem;
  }

  /* -- Mobile Navigation Hamburger -- */
  .btn-mobile-nav {
    display: grid;
    justify-content: end;
    align-items: center;
    align-content: center;
  }

  .navigation {
    background-color: rgba(39, 39, 43, 0.2);
    -webkit-backdrop-filter: blur(6.3px);
    backdrop-filter: blur(6.3px);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    /* transform: translateX(100%); */

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0s ease-in;

    flex-direction: column;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }

  .aboutme {
    margin-right: -1rem;
  }
  .scroll--top {
    padding: 0.1rem;
    width: 2.7rem;
    height: 2.7rem;
  }
}

/* -- Responsive Page @684px --*/
@media (max-width: 684px) {
  .myskillls,
  .my--work,
  .processes {
    grid-template-columns: 1fr;
    gap: 2.7rem;
  }

  .myname {
    font-size: 5.1rem;
  }

  .designation {
    font-size: 1.5rem;
  }

  .anch {
    padding: 1.6rem 1.6rem;
    font-size: 1rem;
  }

  .my--image {
    min-width: 14rem;
    min-height: 14rem;
  }

  .buss-des,
  .offers--job {
    font-size: 1.5rem;
  }
}

/* -- Responsive Page @626px --*/
@media (max-width: 626px) {
  .nav {
    padding: 2rem 2.5rem;
  }

  .section--1 {
    padding: 9rem 2.5rem 7rem;
  }

  .section--2 {
    padding: 6rem 2.5rem;
  }

  .section--3,
  .section--4,
  .section--5 {
    padding: 4.5rem 2.5rem;
  }

  .footer--1 {
    padding: 5rem 2.5rem 2rem;
  }

  .copyright {
    padding: 1rem 2.5rem;
  }

  .myname {
    font-size: 4.6rem;
  }

  .designation {
    font-size: 1.2rem;
  }

  .anch {
    padding: 1.3rem 1.3rem;
    font-size: 1rem;
  }

  .nme {
    font-size: 1.7rem;
  }
}

/* -- Responsive Page @572px --*/
@media (max-width: 572px) {
  .myname {
    font-size: 4.4rem;
  }

  .designation {
    font-size: 1.1rem;
  }

  .anch {
    padding: 1.1rem 1.1rem;
    font-size: 0.9rem;
  }
}

/* -- Responsive Page @477px --*/
@media (max-width: 477px) {
  .myname {
    font-size: 5rem;
  }

  .designation {
    font-size: 1.6rem;
  }

  .anch {
    padding: 1.4rem 1.4rem;
    font-size: 1.2rem;
  }

  .my--image {
    display: none;
  }

  .section--1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .copyright {
    font-size: 0.98rem;
  }

  .nme {
    font-size: 1.6rem;
  }

  .buss-des,
  .offers--job {
    font-size: 1.3rem;
    max-width: 81%;
  }
}

/* -- Custom TextSelect -- */
::-moz-selection {
  background-color: #f8c53a;
  color: #27272b;
}

/* for Safari and Chrome */
::selection {
  background-color: #f8c53a;
  color: #27272b;
}

/* == Custom ScrollBar == */
*::-webkit-scrollbar {
  -webkit-appearance: none;
}

/* Works on Firefox */
* {
  scrollbar-width: thick;
  scrollbar-color: #27272b #fad161;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px !important;
  height: 12px !important;
}

*::-webkit-scrollbar-track {
  background: #fad161;
}

*::-webkit-scrollbar-thumb {
  background-color: #27272b;
  border-radius: 18px;
  border: 3px solid #fad161;
}

/* === Animation KeyFrames === */
/* -- Animation for CLose Button Anti ClockWise Rotation --*/
@keyframes foo {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(90deg);
  }
}

/* -- Animation for CLose Button ClockWise Rotation --*/
@keyframes fooo {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
